{
  "swagger" : "2.0",
  "info" : {
    "description" : "** Capability ** \nAuthor                         = Nicolas Omer\nAnalyst                        = Bruno Guilmain\nOwner                          = Johan Van Buggenhout\nCreation date                  = 25-02-2021\nLast change date               = 10-03-2021\nPIM4SOA version                = BEIM4SOA_V11.35.xsd\nFileName                       = B170-01-Business-Services-BusinessCommunication-Flv000484-V1.0.xsd\nBoarding Request               = BR1944\nCapability Implentation Name   = InteractionManagement-Proximus\nCapability Implentation Id     = B170-01\nCapability Type                = Business\nApi Name                       = BusinessCommunication\nApi Description                = New flavour of event for BAM as Ageed by VG and MDS (EA)\nApi Type                       = Entity Service\nApi Flavor                     = FLV000484\nApi Flavor Name                = Json Events for BAM\nApi Flavor Type                = Custom\nApi Protocol                   = Https\nApi Integration Pattern        = Event\nApi Message Format             = Json\nApi version                    = 1.0\nApi Exposure                   = Internal\nAPIM API Name                  = B170-01-Businesscommunication-Flv000484-V1\n",
    "version" : "v1.0",
    "title" : "BusinessCommunication"
  },
  "host" : "apiuat.proximus.com",
  "basePath" : "/capability/business/b170-01/services/businesscommunication/flv000484/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/events/acknowledgements" : {
      "post" : {
        "tags" : [ "@BS:AcknowledgeBusinessCommunicationEvents@" ],
        "operationId" : "AcknowledgeBusinessCommunicationEvents",
        "consumes" : [ "application/json; charset=UTF-8" ],
        "parameters" : [ {
          "name" : "X-Transaction-MessageId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Transaction-DateTimeCreated",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "X-Transaction-CorrelationId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Flv000484_V1_RequestDataAcknowledgeBusinessCommunicationEventsType"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Standard response",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            }
          },
          "400" : {
            "description" : "parsing failed error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "403" : {
            "description" : "authorization failure error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "404" : {
            "description" : "unknown endpoint error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "413" : {
            "description" : "message to large error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "415" : {
            "description" : "unsupported media type error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "422" : {
            "description" : "functional error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "500" : {
            "description" : "technical error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "502" : {
            "description" : "backend error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "headers" : {
              "X-Transaction-CorrelationId" : {
                "type" : "string"
              },
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          }
        }
      }
    },
    "/events" : {
      "get" : {
        "tags" : [ "@BS:PullBusinessCommunicationEvents@" ],
        "operationId" : "PullBusinessCommunicationEvents",
        "produces" : [ "application/json; charset=UTF-8" ],
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "X-Transaction-MessageId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Transaction-DateTimeCreated",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "format" : "date-time"
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response : PullBusinessCommunicationEventsServiceDataResponseType",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Flv000484_V1_ResponseDataPullBusinessCommunicationEventsType"
            }
          },
          "400" : {
            "description" : "parsing failed error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "403" : {
            "description" : "authorization failure error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "404" : {
            "description" : "unknown endpoint error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "413" : {
            "description" : "message to large error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "415" : {
            "description" : "unsupported media type error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "422" : {
            "description" : "functional error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "500" : {
            "description" : "technical error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "502" : {
            "description" : "backend error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "headers" : {
              "X-Transaction-MessageId" : {
                "type" : "string"
              },
              "X-Transaction-DateTimeCreated" : {
                "type" : "string",
                "format" : "date-time"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/StandardProximusError"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Flv000484_V1_AcknowledgeBusinessCommunicationEventsServiceDataRequestType" : {
      "type" : "object",
      "properties" : {
        "acknowledgeId" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "description" : "AcknowledgeBusinessCommunicationEvents"
          },
          "maxItems" : 100,
          "minItems" : 1
        }
      }
    },
    "Flv000484_V1_RequestDataAcknowledgeBusinessCommunicationEventsType" : {
      "type" : "object",
      "properties" : {
        "serviceData" : {
          "$ref" : "#/definitions/Flv000484_V1_AcknowledgeBusinessCommunicationEventsServiceDataRequestType"
        }
      },
      "description" : "service data element"
    },
    "StandardProximusError" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "error code"
        },
        "message" : {
          "type" : "string",
          "description" : "error message"
        },
        "description" : {
          "type" : "string",
          "description" : "error description"
        }
      },
      "description" : "standard error element"
    },
    "COMMONTRANV1_TransactionType" : {
      "type" : "object",
      "required" : [ "conversationId", "dateTimeCreated", "messageId" ],
      "properties" : {
        "messageId" : {
          "type" : "string",
          "description" : "Globally unique message ID (unique in space and time to avoid incident management and problem management issues)"
        },
        "correlationId" : {
          "type" : "string",
          "description" : "Relevant in request and response scenarios: request message optional fieldl; can hold patent message ID in case of event; response message mandatory field: has the messageID of the request."
        },
        "conversationId" : {
          "type" : "string",
          "description" : "the conversationID is carried forward from incoming to outgoing message and must be the same for all messages, except in case of an event, where the event recipient always starts a new coversation ID"
        },
        "sequenceNumber" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Should the message be part of a sequence of messages, then this field is used to indicate in which sequence the message was emitted. Each individual event type can use it's own counter."
        },
        "dateTimeCreated" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "date and time of when the event happened. If this was not an event then pass when the message was created, in UTC notation!"
        }
      },
      "description" : "Contains transaction data as per the standard. Copy MessageID in CorrelationID in all replies, and carry forward ConversationIDs as per the standard."
    },
    "COMMONDOCV1_ContractVersionType" : {
      "type" : "object",
      "required" : [ "majorVersion", "minorVersion" ],
      "properties" : {
        "majorVersion" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Major Service API Contract/Interface version. Not related to the implementation of the service. Use numeric integer values only. Only change the major version in case of an incompatible contract change."
        },
        "minorVersion" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Minor Service API version . Not related to the implementation of the service. Use numeric integer values only. Only change the  minor version number in case of a compatible contract change. In case of a major version change, the minor version changes to 0."
        }
      }
    },
    "COMMONDOCV1_DocumentationType" : {
      "type" : "object",
      "required" : [ "contractVersion" ],
      "properties" : {
        "contractVersion" : {
          "description" : "Versioning information for the Contract/Interface of the API only. Does not hold ANY implementation information of the service provider.",
          "$ref" : "#/definitions/COMMONDOCV1_ContractVersionType"
        },
        "build" : {
          "type" : "string",
          "description" : "Identifier for the build of the service provider. Could be numeric or alphanumeric."
        }
      }
    },
    "COMMONCTV1_ConsumerTransactionType" : {
      "type" : "object",
      "required" : [ "businessTransactionId" ],
      "properties" : {
        "businessTransactionId" : {
          "type" : "string",
          "description" : "Unique message ID (unique in context of the consumer to avoid incident management and problem management issues) of the business transaction leading to this message. Is used to facilitate for idempotency and incident and problem management."
        },
        "dateTimeCreated" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "businessTransactionCreated timestamp in Zulu notation (so UTC)"
        }
      },
      "description" : "Contains common metadata, transaction information from the consumer of the API."
    },
    "Flv000484_V1_SecurityContextListType" : {
      "type" : "object",
      "properties" : {
        "scope" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "description" : "BusinessCommunication"
          },
          "maxItems" : 99,
          "minItems" : 1
        }
      }
    },
    "Flv000484_V1_PullBusinessCommunicationEventsCommonContextType" : {
      "type" : "object",
      "required" : [ "consumerTransaction", "documentation", "transaction" ],
      "properties" : {
        "transaction" : {
          "description" : "BusinessCommunication",
          "$ref" : "#/definitions/COMMONTRANV1_TransactionType"
        },
        "documentation" : {
          "description" : "BusinessCommunication",
          "$ref" : "#/definitions/COMMONDOCV1_DocumentationType"
        },
        "consumerTransaction" : {
          "description" : "BusinessCommunication",
          "$ref" : "#/definitions/COMMONCTV1_ConsumerTransactionType"
        },
        "securityContextList" : {
          "description" : "BusinessCommunication",
          "$ref" : "#/definitions/Flv000484_V1_SecurityContextListType"
        }
      }
    },
    "Flv000484_V1_PullBusinessCommunicationEventsServiceContextType" : {
      "type" : "object"
    },
    "Flv000484_V1_S_4xXEeJ_LanguageCodeISOAlpha2Type" : {
      "type" : "object",
      "properties" : {
        "alpha2Code" : {
          "type" : "string"
        },
        "idScope" : {
          "description" : "@refDataURL=https://proximus.collibra.com/asset/40911a00-0b7a-46d4-9af0-d33da64cb06d",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_LabelType" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string",
          "description" : "the text content of the label"
        },
        "language" : {
          "description" : "the language in which the label text is defined. @MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_LanguageCodeISOAlpha2Type"
        }
      },
      "description" : "A generic purpose language specific text label.Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_NameType" : {
      "type" : "object",
      "properties" : {
        "defaultName" : {
          "type" : "string",
          "description" : "the default name value in the default language. the default name value in the default language"
        },
        "type" : {
          "description" : "Classfiiation of the name type based on its use. Classification of the name type based on its use @MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx @refDataURL=https://proximus.collibra.com/reference-data?view=4c1fcdfa-b2d4-4aa9-afed-75d39ca1175c",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "languageName" : {
          "type" : "array",
          "items" : {
            "description" : "the name provided in a specific language the name provided in a specific language",
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_LabelType"
          }
        }
      },
      "description" : "    Custom dataType used to provide a meaningful name to a business concept.     Types and examples:     - type: { print name | display name | official     name | document name | etc...} when names are used for persons     - langName: language specific name     Comments:     A concept name has 2 dimensions:     - Language: in which the name is specified (LanguageISO2Code)     - Name type:Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CodeValueType" : {
      "type" : "object",
      "properties" : {
        "codeSystem" : {
          "type" : "string",
          "description" : "the business level coding or classification scheme used to classify the value. example: \"CountryCode\"     name of the code system (aka domain) in which the value is defined.     eg. CountryCode"
        },
        "codeSystemVersion" : {
          "type" : "string",
          "description" : "the version of the classification scheme. This is used in case of international standard classification schemes; eg. v 1.0 version of the code system eg. v1.2"
        },
        "codeDescription" : {
          "type" : "string",
          "description" : "a description of the coding system. example: \"ISO 3 country code - international system to classify countries.\"     textual description in English of the code system.     eg. list of country codes based on ISO 3166-1 alpha-3 standards."
        },
        "value" : {
          "type" : "string",
          "description" : "the concrete value within the classification system. eg. \"Bel\" as country within the Iso3CountryCode     the concrete value     eg. \"BEL\" (as country code for Belgium)"
        },
        "valueDescription" : {
          "description" : "    textual description of the value.     eg. Belgium",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
        }
      },
      "description" : "A code value is exactly one symbol in a coding system. This is also known as reference data. The value is implemented in a specific context (eg. application) A single CodeValue type can have different implemented values over different contexts. The master list of values is defined in the context \"BEIM\" whereas alternate values can be defined in an application specific context. example: use of CV type for LanguageType as reference data. - standard reference data values (context = \"BEIM\") defined for LanguageType are: NL,FR,EN,DE - assume LanguageType implemented in application XYZ: 1,2,3,4 - assume LanguageType implemented in application ABC: NL,FR,EN,DE CV would be used as follows: codeSystem: LanguageType codeSystemVersion 1.0 codeDescr \"classification of languages\" value: \"NL\" context: \"BEIM\" -- or -- codeSystem: LanguageType codeSystemVersion 1.0 codeDescr \"classification of languages\" value: \"1\" context: \"XYZ\"Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_TimeIntervalType" : {
      "type" : "object",
      "properties" : {
        "startTimeStamp" : {
          "type" : "string",
          "format" : "date-time"
        },
        "endTimeStamp" : {
          "type" : "string",
          "format" : "date-time"
        }
      },
      "description" : "Defines a period (range) in time specified by a start and end date.Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CustomerIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_AgentIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_EmployeeIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Segmentation or classification of a PartyRole based on certain criteria.     Types and examples:     Customers can be classified according:     - ARPU     - Podium     - type of business     - market segment     - subscriber type     - cost     - geographic     - demographic     Agents (aka Partners) can be classified according:     - turnover     - type of businessType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ExternalSalesPersonIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_InternalSalesPersonIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_SupplierIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ContactPersonIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "@Deprecated : ContactPersonIdentifier becomes deprecated ; replaced by ContactIdentifierType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoicePartyRoleIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "customerIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CustomerIdentifierType"
        },
        "agentIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_AgentIdentifierType"
        },
        "employeeIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_EmployeeIdentifierType"
        },
        "externalSalesPersonIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ExternalSalesPersonIdentifierType"
        },
        "internalSalesPersonIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_InternalSalesPersonIdentifierType"
        },
        "supplierIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_SupplierIdentifierType"
        },
        "contactPersonIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ContactPersonIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a party role: agent, customer, employee, external sales person internal sales person supplierType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BillingAccountIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_PhoneContactIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_FaxContactIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_EMailContactIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_PostalContactIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_SocialMediaContactIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoiceContactMediumIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "phoneContactIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_PhoneContactIdentifierType"
        },
        "faxContactIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_FaxContactIdentifierType"
        },
        "EMailContactIdentifier" : {
          "description" : "@Acronym E electronic ",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_EMailContactIdentifierType"
        },
        "postalContactIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_PostalContactIdentifierType"
        },
        "socialMediaContactIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_SocialMediaContactIdentifierType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_OrganisationalUnitIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "    Identifier is the code for Organisational UnitType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_PersonIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "ID."
        },
        "idScope" : {
          "description" : "    Specifies scope in which the identifier is valid/can be used.     e.g. public, enterprise, application, message     List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "description" : "    Specifies the domain in which uniqueness of the id value is guaranteed. This could be a source system or functional domain.     e.g.       List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Person ID.Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_OrganisationIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "ID."
        },
        "idScope" : {
          "description" : "    Specifies scope in which the identifier is valid/can be used.     e.g. public, enterprise, application, message     List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "description" : "    Specifies the domain in which uniqueness of the id value is guaranteed. This could be a source system or functional domain.     e.g. CDB     List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Organisation ID.Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoicePartyIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "personIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_PersonIdentifierType"
        },
        "organisationIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_OrganisationIdentifierType"
        },
        "customerIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CustomerIdentifierType"
        },
        "agentIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_AgentIdentifierType"
        },
        "employeeIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_EmployeeIdentifierType"
        },
        "externalSalesPersonIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ExternalSalesPersonIdentifierType"
        },
        "internalSalesPersonIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_InternalSalesPersonIdentifierType"
        },
        "contactPersonIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ContactPersonIdentifierType"
        },
        "supplierIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_SupplierIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a party role: agent, customer, employee, external sales person internal sales person supplierType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ApplicationIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationRoleType" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "description" : "@MdrCvUrl http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/BusinessCommunicationRole.roleType.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "mood" : {
          "description" : "an indication of the mood of the external partyrole (eg. Customer, Prospect,...) in the context of a BusinessCommunication.",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "partyRoleIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoicePartyRoleIdentifierInCommunicationType"
        },
        "billingAccountIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BillingAccountIdentifierType"
          }
        },
        "contactMediumIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceContactMediumIdentifierInCommunicationType"
        },
        "organisationalUnitIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_OrganisationalUnitIdentifierType"
          }
        },
        "partyIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoicePartyIdentifierInCommunicationType"
        },
        "applicationIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ApplicationIdentifierType"
          }
        }
      },
      "description" : "A role played by a Party, Resource, Customer- or BillingAccount during a BusinessInteraction. Many BusinessInteractionRoles could be played by different Parties or Resources in context of a BusinessInteraction. Types and examples:     - roleType: { created by | updated by | reviewed by | contacted via | assigned to | originated from | sent to | etc...}Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_GeographicAddressIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "description" : "    idScope = ENT     @MdrCvUrl :     http://shpworkgroup.bgc.net/sites/WW10000046/metadata/_layouts/xlviewer.aspx?id=/sites/WW10000046/metadata/reference%20data%20lists/idScope.xlsx&Source=http%3A%2F%2Fshpworkgroup%2Ebgc%2Enet%2Fsites%2FWW10000046%2Fmetadata%2Freference┠data┠lists%2FForms%2FAllItems%2Easpx&DefaultItemOpen=1           ",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "description" : "    Context = LOM",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoiceAddressIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "geographicAddressIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_GeographicAddressIdentifierType"
        }
      },
      "description" : "This class gives the following choices for address: Urban address, Urban sub addressType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemCharValType" : {
      "type" : "object",
      "properties" : {
        "characteristicName" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
        },
        "characteristicDescription" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        },
        "valueDescription" : {
          "type" : "string"
        },
        "unitOfMeasure" : {
          "description" : "@MdrCvUrl http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/BusinessCommunictionItemCharVal.valueUnitOfMeasure.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CommentType" : {
      "type" : "object",
      "properties" : {
        "comment" : {
          "type" : "string"
        },
        "language" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_LanguageCodeISOAlpha2Type"
        },
        "type" : {
          "description" : "type of comment: - technical comment - commercial comment - ... @MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx @refDataURL=https://proximus.collibra.com/asset/9c0ca47e-aca4-4b5e-b9cd-4caf7672575b",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "subject" : {
          "type" : "array",
          "items" : {
            "description" : "Subject of the Comment @MdrCvUrl http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx (Source PIM) @refDataURL=https://proximus.collibra.com/asset/ca9b825a-b140-4215-b55d-7795ccf4815d",
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
          }
        }
      },
      "description" : "Free comment type as text. Free comment type as text.Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_StatusType" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "description" : "@MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx @refDataURL=https://proximus.collibra.com/reference-data",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "description" : {
          "description" : "@denormalizedAttribute: Status.description = Status.code.valueDescription",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
        },
        "reason" : {
          "type" : "array",
          "items" : {
            "description" : "@MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx @refDataURL=https://proximus.collibra.com/reference-data",
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
          }
        },
        "comment" : {
          "type" : "array",
          "items" : {
            "description" : "free text comment on the status",
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CommentType"
          }
        },
        "validFor" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_TimeIntervalType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CPEIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_MobileHandsetIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoicePhysicalResourceIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "CPEIdentifier" : {
          "description" : "@Acronym CPE CustomerPremisesEquipment ",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CPEIdentifierType"
        },
        "mobileHandsetIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_MobileHandsetIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a resource: device, telephone number, telephone number rangeType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemRoleType" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "description" : "@MdrCvUrl http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/BusinessCommunicationItemRole.roleType.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "mood" : {
          "description" : "an indication of the mood of the external partyrole (eg. Customer, Prospect,...) in the context of a BusinessCommunicationItem.",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "partyRoleIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoicePartyRoleIdentifierInCommunicationType"
        },
        "billingAccountIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BillingAccountIdentifierType"
          }
        },
        "contactMediumIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceContactMediumIdentifierInCommunicationType"
        },
        "organisationalUnitIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_OrganisationalUnitIdentifierType"
          }
        }
      },
      "description" : "A role played by a Party, Resource, Customer- or BillingAccount during a BusinessInteraction. Many BusinessInteractionRoles could be played by different Parties or Resources in context of a BusinessInteraction. Types and examples:     - roleType: { created by | updated by | reviewed by | contacted via | assigned to | originated from | sent to | etc...}Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CustomerFacingServiceIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoiceServiceIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "customerFacingServiceIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CustomerFacingServiceIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a service: customer facing serviceType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_TelType" : {
      "type" : "object",
      "properties" : {
        "numberingPlan" : {
          "description" : "the numbering plan in which the phone number is defined. example: E164 @MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx @refDataURL=https://www.itu.int/oth/T0202.aspx?parent=T0202",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "countryPrefix" : {
          "description" : "the country prefix of the phone number eg. 32 for Belgium @MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx @refDataURL=http://www.itu.int/dms_pub/itu-t/opb/sp/T-SP-E.164D-2016-PDF-E.pdf",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "nationalNumber" : {
          "type" : "string",
          "description" : "the national number with a leading 0 eg. 022024363"
        }
      },
      "description" : "base type for a telephone numberType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_TelephoneNumberIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_TelType"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_TelephoneNumberRangeIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoiceLogicalResourceIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "telephoneNumberIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_TelephoneNumberIdentifierType"
        },
        "telephoneNumberRangeIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_TelephoneNumberRangeIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a resource: device, telephone number, telephone number rangeType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_NotificationIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CustomerCommunicationRequestIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CustomerAgreementIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "A unique Identifier for Agreement.Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CustomerOrderIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "description" : "Indicates the context in which the CustomerOrderIdentifier is to be interpreted and defined as unique reference. Link to Collibra : https://proximus.collibra.com/asset/1061eec6-efba-47d9-bcb7-2a10e591aa8c",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "    This is used to indicate the Identifier applicable for Customer Order     The cardinality is assigned as 1..* This is because:     1) One Order Id will be used to indicate the MasterOrder Identifier     2) The other occurences will be used to indicate, if this order also has any other Identifier (which can be present for     other channels) [currently this will be used for indicating ExternalOrder Identifier]Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_CaseIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "@DeprecatedType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_QuoteIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_WorkOrderIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ProjectItemIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ProjectIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ComplaintIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_IncidentIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ComplaintTicketIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_IncidentTicketIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_LeadIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_OpportunityIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_DunningCaseIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_PromiseToPayIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoiceBusinessInteractionIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "notificationIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NotificationIdentifierType"
        },
        "businessCommunicationIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CustomerCommunicationRequestIdentifierType"
        },
        "customerAgreementIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CustomerAgreementIdentifierType"
        },
        "customerOrderIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CustomerOrderIdentifierType"
        },
        "caseIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CaseIdentifierType"
        },
        "quoteIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_QuoteIdentifierType"
        },
        "workOrderIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_WorkOrderIdentifierType"
        },
        "projectItemIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ProjectItemIdentifierType"
        },
        "projectIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ProjectIdentifierType"
        },
        "complaintIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ComplaintIdentifierType"
        },
        "incidentIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_IncidentIdentifierType"
        },
        "complaintTicketIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ComplaintTicketIdentifierType"
        },
        "incidentTicketIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_IncidentTicketIdentifierType"
        },
        "leadIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_LeadIdentifierType"
        },
        "opportunityIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_OpportunityIdentifierType"
        },
        "dunningCaseIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_DunningCaseIdentifierType"
        },
        "promiseToPayIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_PromiseToPayIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a business interaction: business communication, notificationType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemRelationshipType" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "businessInteractionIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceBusinessInteractionIdentifierInCommunicationType"
          }
        }
      },
      "description" : "A description of the relationship between a BusinessCommunicationItem and other BusinessInteractions.Types and examples:- type: { is related to | is parent of | must be executed before | may not start before | etc... }Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemClassificationType" : {
      "type" : "object",
      "properties" : {
        "classification" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_AttachmentIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_AssignedProductIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "description" : "    AP ID     @MdrCvUrl=http://shpworkgroup.bgc.net/sites/WW10000046/metadata/_layouts/xlviewer.aspx?id=/sites/WW10000046/metadata/reference%20data%20lists/idScope.xlsx&Source=http%3A%2F%2Fshpworkgroup%2Ebgc%2Enet%2Fsites%2FWW10000046%2Fmetadata%2Freference┠data┠lists%2FForms%2FAllItems%2Easpx%3FPaged%3DTRUE%26p%5FSortBehavior%3D0%26p%5FFileLeafRef%3DCustomerProject%252estatus%252exlsx%26p%5FID%3D31%26PageFirstRow%3D31%26%26View%3D%7BA72B6D19%2DEBB1%2D4354%2DA526%2D103D0941590B%7D%26InitialTabId%3DRibbon%252EDocument%26VisibilityContext%3DWSSTabPersistence&DefaultItemOpen=1",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "description" : "@MdrCvUrl=",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Both the AP Id and the Service Id can be used to identify the Assigned Product. When using the AP ID the context should be MIB and the scope should be enterprise. But when we are using the Service Id the context should be SSID and the scope should be public. Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemType" : {
      "type" : "object",
      "properties" : {
        "charVal" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemCharValType"
          }
        },
        "type" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "subItem" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemType"
          }
        },
        "description" : {
          "description" : "this is an optional attribute to provide additional information to clarify the object.",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
        },
        "actionReason" : {
          "type" : "string"
        },
        "comment" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CommentType"
          }
        },
        "quantity" : {
          "type" : "integer",
          "format" : "int32"
        },
        "action" : {
          "description" : "List of of actions defined per subtype of business interaction item- CustomerOrderItem.action -> see enum CustomerOrderItemAction_CD @MdrCvUrl http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/BusinessCommunicationItem.action.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "version" : {
          "type" : "string",
          "description" : "this is an optional attribute to provide the version of the object"
        },
        "validFor" : {
          "description" : "this is an optional attribute to specify the start and end timestamp of the concept's validity period (start and end are included in the time window)",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_TimeIntervalType"
        },
        "status" : {
          "description" : "this is an optional attribute to provide the status of the object",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_StatusType"
        },
        "name" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
          }
        },
        "physicalResourceIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoicePhysicalResourceIdentifierInCommunicationType"
        },
        "role" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemRoleType"
          }
        },
        "serviceIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceServiceIdentifierInCommunicationType"
        },
        "logicalResourceIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceLogicalResourceIdentifierInCommunicationType"
        },
        "relationship" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemRelationshipType"
          }
        },
        "classification" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemClassificationType"
          }
        },
        "contactReason" : {
          "description" : "@refDataURL: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/Communication_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "content" : {
          "type" : "string",
          "description" : "a textual representation of the content of the BusinessCommunicationItem. examples: text of the chat used during the communication, transcript of the communication, summary of the communication,..."
        },
        "contentType" : {
          "description" : "description of the type of content.",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "identifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemIdentifierType"
          }
        },
        "attachmentIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_AttachmentIdentifierType"
          }
        },
        "businessInteractionIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceBusinessInteractionIdentifierInCommunicationType"
        },
        "assignedProductIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_AssignedProductIdentifierType"
        }
      },
      "description" : "The purpose for the business communication expressed in terms of a Product Component, Service Specification or Resource Specification or may refer to a Product, Service, or Resource.Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationRelationshipType" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "businessInteractionIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceBusinessInteractionIdentifierInCommunicationType"
          }
        }
      },
      "description" : "A description of the relationship (or constraint) between 2 BusinessInteractions. Types and examples:     - type: { is related to | is parent of | must be executed before | may not start before | etc... }Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationCharValType" : {
      "type" : "object",
      "properties" : {
        "characteristicName" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
        },
        "characteristicDescription" : {
          "type" : "string"
        },
        "value" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
        },
        "valueDescription" : {
          "type" : "string"
        },
        "unitOfMeasure" : {
          "description" : "@MdrCvUrl http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/BusinessCommunicationCharVal.valueUnitOfMeasure.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_SalesChannelIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "***ClassInfo(Start)*** ClassVersion=0.0 History 2014-03-04 10:43:31 : Merge into model [BEIM4SOA] ***ClassInfo(End)***Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChannelIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoiceChannelIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "salesChannelIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_SalesChannelIdentifierType"
        },
        "channelIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChannelIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a channel: channel, sales channelType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_MarketingCampaignIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ProgramIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_ChoiceBusinessInitiativeIdentifierInCommunicationType" : {
      "type" : "object",
      "properties" : {
        "marketingCampaignIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_MarketingCampaignIdentifierType"
        },
        "programIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ProgramIdentifierType"
        }
      },
      "description" : "This class gives the following choices for a business initiative: marketing campaign, programType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_4xXEeJ_BusinessCommunicationType" : {
      "type" : "object",
      "properties" : {
        "identifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationIdentifierType"
          }
        },
        "interactionDuration" : {
          "description" : "The duration of the interaction.",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_TimeIntervalType"
        },
        "role" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationRoleType"
          }
        },
        "addressIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceAddressIdentifierInCommunicationType"
        },
        "item" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationItemType"
          }
        },
        "relationship" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationRelationshipType"
          }
        },
        "subject" : {
          "type" : "string"
        },
        "language" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_LanguageCodeISOAlpha2Type"
        },
        "charVal" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_BusinessCommunicationCharValType"
          }
        },
        "name" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
          }
        },
        "status" : {
          "description" : "this is an optional attribute to provide the status of the object",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_StatusType"
        },
        "validFor" : {
          "description" : "this is an optional attribute to specify the start and end timestamp of the concept's validity period (start and end are included in the time window)",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_TimeIntervalType"
        },
        "version" : {
          "type" : "string",
          "description" : "this is an optional attribute to provide the version of the object"
        },
        "direction" : {
          "description" : "The direction of the communication which can be:- inbound: an incoming call to Belgacom- outbound: Belgacom originating the call to the external party @MdrCvUrl http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/BusinessCommunication.direction.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "description" : {
          "description" : "this is an optional attribute to provide additional information to clarify the object.",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_NameType"
        },
        "comment" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CommentType"
          }
        },
        "priority" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "channelMedium" : {
          "description" : "@DenormalisedAttribute from Channel.medium",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "channelClassification" : {
          "description" : "@DenormalisedAttribute from Channel.classification",
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_CodeValueType"
        },
        "channelIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceChannelIdentifierInCommunicationType"
        },
        "businessInitiativeIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceBusinessInitiativeIdentifierInCommunicationType"
        },
        "contactMediumIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceContactMediumIdentifierInCommunicationType"
          }
        },
        "attachmentIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_AttachmentIdentifierType"
          }
        },
        "businessInteractionIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_4xXEeJ_ChoiceBusinessInteractionIdentifierInCommunicationType"
        }
      },
      "description" : "A type of BusinessInteraction between 2 or more PartyRoles during which information has been exchanged between the involved parties. Types and examples:     Business Communication examples:     - a Customer calls Belgacom to ask a question concerning a ProductOffer     - Belgacom sends a letter to a Customer     The direction attribute can be:     - \"inbound\": an incoming call to Belgacom     - \"outbound\": Belgacom originating the call to the external PartyType used on response message of operation pullbusinesscommunicationcreated"
    },
    "Flv000484_V1_S_3fOskC_LanguageCodeISOAlpha2Type" : {
      "type" : "object",
      "properties" : {
        "alpha2Code" : {
          "type" : "string"
        },
        "idScope" : {
          "description" : "@refDataURL=https://proximus.collibra.com/asset/40911a00-0b7a-46d4-9af0-d33da64cb06d",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_LabelType" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string",
          "description" : "the text content of the label"
        },
        "language" : {
          "description" : "the language in which the label text is defined. @MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_LanguageCodeISOAlpha2Type"
        }
      },
      "description" : "A generic purpose language specific text label.Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_NameType" : {
      "type" : "object",
      "properties" : {
        "defaultName" : {
          "type" : "string",
          "description" : "the default name value in the default language. the default name value in the default language"
        },
        "type" : {
          "description" : "Classfiiation of the name type based on its use. Classification of the name type based on its use @MdrCvURL = http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SACommon_refData.xlsx @refDataURL=https://proximus.collibra.com/reference-data?view=4c1fcdfa-b2d4-4aa9-afed-75d39ca1175c",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        },
        "languageName" : {
          "type" : "array",
          "items" : {
            "description" : "the name provided in a specific language the name provided in a specific language",
            "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_LabelType"
          }
        }
      },
      "description" : "    Custom dataType used to provide a meaningful name to a business concept.     Types and examples:     - type: { print name | display name | official     name | document name | etc...} when names are used for persons     - langName: language specific name     Comments:     A concept name has 2 dimensions:     - Language: in which the name is specified (LanguageISO2Code)     - Name type:Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_CodeValueType" : {
      "type" : "object",
      "properties" : {
        "codeSystem" : {
          "type" : "string",
          "description" : "the business level coding or classification scheme used to classify the value. example: \"CountryCode\"     name of the code system (aka domain) in which the value is defined.     eg. CountryCode"
        },
        "codeSystemVersion" : {
          "type" : "string",
          "description" : "the version of the classification scheme. This is used in case of international standard classification schemes; eg. v 1.0 version of the code system eg. v1.2"
        },
        "codeDescription" : {
          "type" : "string",
          "description" : "a description of the coding system. example: \"ISO 3 country code - international system to classify countries.\"     textual description in English of the code system.     eg. list of country codes based on ISO 3166-1 alpha-3 standards."
        },
        "value" : {
          "type" : "string",
          "description" : "the concrete value within the classification system. eg. \"Bel\" as country within the Iso3CountryCode     the concrete value     eg. \"BEL\" (as country code for Belgium)"
        },
        "valueDescription" : {
          "description" : "    textual description of the value.     eg. Belgium",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_NameType"
        }
      },
      "description" : "A code value is exactly one symbol in a coding system. This is also known as reference data. The value is implemented in a specific context (eg. application) A single CodeValue type can have different implemented values over different contexts. The master list of values is defined in the context \"BEIM\" whereas alternate values can be defined in an application specific context. example: use of CV type for LanguageType as reference data. - standard reference data values (context = \"BEIM\") defined for LanguageType are: NL,FR,EN,DE - assume LanguageType implemented in application XYZ: 1,2,3,4 - assume LanguageType implemented in application ABC: NL,FR,EN,DE CV would be used as follows: codeSystem: LanguageType codeSystemVersion 1.0 codeDescr \"classification of languages\" value: \"NL\" context: \"BEIM\" -- or -- codeSystem: LanguageType codeSystemVersion 1.0 codeDescr \"classification of languages\" value: \"1\" context: \"XYZ\"Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_TimeIntervalType" : {
      "type" : "object",
      "properties" : {
        "startTimeStamp" : {
          "type" : "string",
          "format" : "date-time"
        },
        "endTimeStamp" : {
          "type" : "string",
          "format" : "date-time"
        }
      },
      "description" : "Defines a period (range) in time specified by a start and end date.Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_EMailContactIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idScope" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        },
        "idContext" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_PersonIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "ID."
        },
        "idScope" : {
          "description" : "    Specifies scope in which the identifier is valid/can be used.     e.g. public, enterprise, application, message     List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        },
        "idContext" : {
          "description" : "    Specifies the domain in which uniqueness of the id value is guaranteed. This could be a source system or functional domain.     e.g.       List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        }
      },
      "description" : "Person ID.Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_OrganisationIdentifierType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "ID."
        },
        "idScope" : {
          "description" : "    Specifies scope in which the identifier is valid/can be used.     e.g. public, enterprise, application, message     List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        },
        "idContext" : {
          "description" : "    Specifies the domain in which uniqueness of the id value is guaranteed. This could be a source system or functional domain.     e.g. CDB     List of values: http://shpworkgroup.bgc.net/sites/WW10000046/metadata/reference%20data%20lists/SAParty_refData.xlsx",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        }
      },
      "description" : "Organisation ID.Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_ChoicePartyIdentifierInPartyContactType" : {
      "type" : "object",
      "properties" : {
        "personIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_PersonIdentifierType"
        },
        "organisationIdentifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_OrganisationIdentifierType"
        }
      },
      "description" : "A person, organization, sub-division of an organisation, or group of persons/organizations of interest to the BGC Group. Examples Klaus Egger (Person), Siemens Belgium (Holding), Siemens VDO NV (Company), VDO Zaventem (BusinessSite)Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_IntervalType" : {
      "type" : "object",
      "properties" : {
        "low" : {
          "type" : "string"
        },
        "high" : {
          "type" : "string"
        }
      },
      "description" : "Generic datatype that can express a range or interval of values. An interval is a set of consecutive values of any totally ordered datatype. An interval is thus a continuous subset of its base datatype.Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_EMailContactCharValType" : {
      "type" : "object",
      "properties" : {
        "characteristicName" : {
          "type" : "string",
          "description" : "keyName used to attach a Charateristic to a Concept."
        },
        "value" : {
          "type" : "string"
        },
        "validFor" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_TimeIntervalType"
        },
        "valueRange" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_IntervalType"
        }
      },
      "description" : "Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_ContactPreferenceType" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        },
        "preference" : {
          "type" : "string"
        }
      },
      "description" : "A collection of PartyRoles based on specific criteria.Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_EMailContactType" : {
      "type" : "object",
      "properties" : {
        "EMailAddress" : {
          "type" : "string",
          "description" : "@Acronym E electronic "
        },
        "isPreferred" : {
          "type" : "boolean",
          "description" : "the contact address preferred by the party role via which he is to be contacted."
        },
        "context" : {
          "type" : "array",
          "items" : {
            "description" : "the context for which the party role can be contacted. eg. compaints, billing, assurance, etc...",
            "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
          }
        },
        "status" : {
          "description" : "    the status of the contact medium.     List of allowed values is defined in corporate data dictionary.",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        },
        "isMarketingAllowed" : {
          "type" : "boolean",
          "description" : "An indication (flag) whether the contact medium can be used to contact the party role (eg. customer, prospect) for marketing purposes."
        },
        "validFor" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_TimeIntervalType"
        },
        "trustLevel" : {
          "description" : "<div align=\"left\">     an indicator expressing the level of trust for the contact address     Following levels are defined     - user provided: contact address has not been validated, low trust.     - customer related: contact address belongs to Belgacom customer: high trust     - validated: contact address has been validated (eg. via SMS or email): high trust </div>",
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_CodeValueType"
        },
        "identifier" : {
          "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_EMailContactIdentifierType"
        },
        "partyIdentifier" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_ChoicePartyIdentifierInPartyContactType"
          }
        },
        "charVal" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_EMailContactCharValType"
          }
        },
        "preference" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Flv000484_V1_S_3fOskC_ContactPreferenceType"
          }
        }
      },
      "description" : "A type of contact info based on an email address.Type used on response message of operation pullbusinesscommunicationevents"
    },
    "Flv000484_V1_S_3fOskC_TelType" : {
      "type" : "object",
      "properties" : {
[...]
